@media screen and (max-width:576px) {
  #header-section{
    padding: 0 20px;
  }
  .navbar{
    flex-direction: column;
  }
  .navbar h3{
    font-size: 30px;
  }
  .nav-links{
    margin-top: 20px;
    gap: 20px;
  }
  .nav-links li a{
    font-size: 15px;
  }
  .banner{
  margin-top: 20px;
}
.banner-heading h1{
  font-size: 28px;
}
.banner-heading p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
}
.btn{
  font-size: 16px;
  padding: 17px 22px;
}
/* section-01 */
#section-01{
  margin-top: 30px;
  flex-direction: column;
}
.team-gallery{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  
}
.gallery img{
 width: 100%;
}
.gallery-description{
 margin: 0 15px;
}
.gallery-description h3{
  font-size: 28px;
  color: #131313;
}
.gallery-description p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #727272;
}
/* section-02 */
  #section-02{
  flex-direction: column;
  margin-top: 50px;
  padding: 0 20px;
  gap: 10px;
}
.love-enjoy h3{
  font-size: 30px;
}
.love-enjoy p{
  margin: 14px 0;
  font-size: 14px;
  line-height: 20px;
}
.card{
  padding: 15px;
  margin-bottom: 25px;
}
.card h4{
  font-size: 18px;
}
.card p{
  font-size: 14px;
  line-height: 20px;
}
.smart-girl img{
width: 100%;
}
.experience{
  display: inline-block;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 50px;
  padding: 10px 30px;
  background-color: #FF900E;
}
.experience h2{
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  color: #FFFFFF;
}
.experience p{
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #FFFFFF;
}
}
