@media screen and (max-width:576px) {
  #header-section{
    padding: 0 20px;
  }
  .navbar{
    flex-direction: column;
  }
  .navbar h3{
    font-size: 30px;
  }
  .nav-links{
    margin-top: 20px;
    gap: 20px;
  }
  .nav-links li a{
    font-size: 15px;
  }
  .banner{
  margin-top: 20px;
}
.banner-heading h1{
  font-size: 28px;
}
.banner-heading p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
}
.btn{
  font-size: 16px;
  padding: 17px 22px;
}
/* section-01 */
#section-01{
  margin-top: 30px;
  flex-direction: column;
}
.team-gallery{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  
}
.gallery img{
 width: 100%;
}
.gallery-description{
 margin: 0 15px;
}
.gallery-description h3{
  font-size: 28px;
}
.gallery-description p{
  font-size: 14px;
  line-height: 20px;
}
/* section-02 */
  #section-02{
  flex-direction: column;
  margin-top: 50px;
  padding: 0 20px;
  gap: 10px;
}
.love-enjoy h3{
  font-size: 30px;
}
.love-enjoy p{
  margin: 14px 0;
  font-size: 14px;
  line-height: 20px;
}
.card{
  padding: 15px;
  margin-bottom: 25px;
}
.card h4{
  font-size: 18px;
}
.card p{
  font-size: 14px;
  line-height: 20px;
}
.smart-girl img{
width: 100%;
}
.experience{
  margin-top: 30px;
  margin-left: 50px;
  padding: 10px 30px;
}
.experience h2{
  font-size: 30px;
  line-height: 50px;
}
.experience p{
  font-size: 18px;
  line-height: 20px;
}
/* section-03 */
#section-03{
  margin-top: 40px;
  padding: 0 16px;
}
.facts h3{
 font-size: 30px;
}
.facts p{
 font-size: 14px;
 line-height: 20px;
}
.achievements{
  margin-top: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.works h3{
  font-size: 30px;
}
.works p{
  font-size: 14px;
}
/* section-04 */
#section-04{
  margin-top: 40px;
  padding: 0 30px;
}
.sponspors{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 30px;
  gap: 50px;
}
.logo img{
 width: 90%;
}
/* footer-section */
#footer-section{
  margin-top: 40px;
  margin-bottom: 50px;
}
.footer{
  height: 70px;
}
.footer p{
  padding-top: 15px;
  font-size: 14px;
}
}
