@media screen and (max-width:576px) {
  #header-section{
    padding: 0 20px;
  }
  .navbar{
    flex-direction: column;
  }
  .navbar h3{
    font-size: 30px;
  }
  .nav-links{
    margin-top: 20px;
    gap: 20px;
  }
  .nav-links li a{
    font-size: 15px;
  }
  .banner{
  margin-top: 20px;
}
.banner-heading h1{
  font-size: 28px;
}
.banner-heading p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
}
.btn{
  font-size: 16px;
  padding: 17px 22px;
}
}
