*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* .max-width{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
} */
 /* shared-style */
.display-flex{
  display: flex;
}
/* header-section */
#header-section{
  background-color: rgba(255, 144, 14, 0.1);
  padding: 0 100px;
}
.navbar{
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.navbar h3{
  font-size: 45px;
  font-weight: bold;
  color: #131313;
}
.nav-links{
  gap: 40px;
}
.nav-links li{
list-style: none;
}
.nav-links li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #424242;
}
.banner{
  margin-top: 100px;
  text-align: center;
}
.banner-heading h1{
  font-size: 64px;
  font-weight: bold;
  color: #000000;
}
.banner-heading p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  margin: 25px 0;
}
.btn{
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 20px 25px;
  background-color: #FF900E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.banner-photo img{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* section-01 */
#section-01{
  align-items: center;
  margin-top: 80px;
  padding: 0 30px;
  gap: 30px;
}
.team-gallery{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.gallery-description h3{
  font-size: 45px;
  color: #131313;
}
.gallery-description p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  margin: 25px 0;
  text-align: justify;
}
/* section-02 */
  #section-02{
  margin-top: 100px;
  padding: 0 30px;
  gap: 70px;
}
.love-enjoy h3{
  font-size: 45px;
  font-weight: bold;
  color: #131313;
}
.love-enjoy p{
  margin: 25px 0;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  line-height: 26px;
  text-align: justify;
}
.another-card{

}
.card{
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px #1313135a;
}
.card h4{
  font-size: 20px;
  font-weight: 600;
  color: #131313;
}
.card p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  line-height: 26px;
  text-align: justify;
}
.experience{
  display: inline-block;
  border: none;
  border-radius: 8px;
  margin-top: -50px;
  margin-left: -50px;
  padding: 15px 35px;
  background-color: #FF900E;
}
.experience h2{
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  color: #FFFFFF;
}
.experience p{
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #FFFFFF;
}