@media screen and (min-width:577px) and (max-width:992px) {
  #header-section{
    padding: 0 20px;
  }
  .navbar{
    flex-direction: column;
  }
  .nav-links{
    margin-top: 20px;
  }
  .banner{
  margin-top: 20px;
}
.banner h1{
  font-size: 55px;
}

/* section-01 */
#section-01{
  margin-top: 30px;
  flex-direction: column;
}
.team-gallery{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.gallery img{
 width: 100%;
}
.gallery-description{
 margin: 0 15px;
}
/* section-02 */
  #section-02{
  flex-direction: column;
  margin-top: 50px;
  padding: 0 20px;
  gap: 10px;
}
.love-enjoy h3{
  font-size: 36px;
}
.card{
  padding: 15px;
  margin-bottom: 25px;
}
.smart-girl img{
width: 100%;
}
.experience{
  margin-top: 30px;
  margin-left: 50px;
}
/* section-03 */
#section-03{
  margin-top: 40px;
  padding: 0 16px;
}
.achievements{
  margin-top: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
/* section-04 */
#section-04{
  margin-top: 40px;
  padding: 0 30px;
}
.sponspors{
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: 30px;
  gap: 50px;
}
.logo img{
 width: 100%;
}
/* footer-section */
#footer-section{
  margin-top: 0px;
  margin-bottom: 50px;
}
.footer{
  height: 70px;
}
.footer p{
  padding-top: 23px;
  font-size: 16px;
}
}
